*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    background: linear-gradient(90deg, rgba(1,57,72,1) 0%, rgba(1,57,72,1) 100%);
}
.container-1{
    
    clip-path: polygon(0 0, 100% 1%, 100% 71%, 50% 100%, 0 72%);
    background: linear-gradient(90deg, rgba(1,57,72,1) 0%, rgba(1,28,35,1) 51%, rgba(1,57,72,1) 90%);
    
    height: 600px;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    padding-left: 50px;
    align-self: center;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    padding-left: 50px;
    padding-right: 20px;
    align-self: center;
}
header ul li input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(1,28,35,1);
    background-color: transparent;
}
#icon-twitter{
    font-size: 30px;
}
.container-1 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-1 section img{
    width: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;
}
.container-1 section h1{
    align-self: center;
    line-height: 2px;
    margin-bottom: 40px;
    font-size: 50px;
    
}
.container-1 section h4{
    align-self: center;
}
#first-div{
    background: linear-gradient(to bottom, rgba(1,57,72,1) 0%, rgba(1,57,72,1) 0%, rgba(2,72,91,1) 34%, rgba(2,76,96,1) 44%, rgba(2,80,101,1) 53%, rgba(2,80,101,1) 75%, rgba(2,80,101,1) 100%);
    clip-path: polygon(0 0, 100% 1%, 100% 71%, 100% 100%, 0 90%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#first-div h3{
    margin-top: 10px;
}
#first-div div{
    
   display: flex;
}
#first-div div div{
    /* display: flex; */
    align-items: center;
    text-align: center;
    background-color: #011C23;
    padding:20px;
    margin: 20px;
    font-size: 20px;
    width: 200px;
    height: 100px;
    border-radius: 5px 5px 25px 5px;
}
#first-div h2{
    margin-top: 60px;
    color: #7D99A3;

}
#first-div input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #268BD2;
    background-color: transparent;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#first-div button{
    background-color: #002731;
    color: #18949B;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 100px;
}
#react-div{
    background: linear-gradient(180deg, rgba(1,57,72,1) 1%, rgba(1,46,59,1) 15%, rgba(0,41,51,1) 20%, rgba(0,33,41,1) 53%, rgba(0,33,41,1) 71%, rgba(0,33,41,1) 98%, rgba(0,33,41,1) 100%);

}
.second-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,33,41,1);
}
.second-div div{
    display: flex;
}
.second-div img{
    height: 30px;
    width: 30px; margin-right: 10px;
}
.second-div div div{
    /* display: flex; */
    align-items: center;
    text-align: center;
    background-color: #073641;
    color: #18949B;
    padding:20px;
    margin: 20px;
    font-size: 20px;
    width: 200px;
    height: 100px;
    border-radius: 5px 5px 25px 5px;
}
.second-div button{
    align-self: center;
    background-color: #002731;
    color: #18949B;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}
.head-img{
    margin-bottom: 50px;
}
.line{
    width: 300px;
    border-bottom: 4px solid #B58900;
    margin-bottom: 50px;
}
#last-div{
    flex-direction: column;
    width: 300px;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    margin-top: 50px;
    margin-right: 800px;
    background-color: #073642;
    color: #7D99A3;
    border: 1px solid #B58900;
}
#green{
    color: #18949B;
}
#last-div p{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: -20px;
    align-self: flex-end;
    color: #18949B;
}
footer{
    background-color: rgba(0,33,41,1);
    display: flex;
    flex-direction: column;
    color: #7D99A3;
    align-items: center;
    padding: 20px;
}
footer button{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    color: #18949B;
    border: 3px #B58900;
    background-color: rgba(0,33,41,1);
    border-style: dashed groove dashed groove;
}